<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invite Title</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container-wrap" width="580">
			<div class="container">
				<div class="header">
					<img src="https://cdn.channel.io/channel/1-bfdf286ffa924e23a4370ac268f6d557-thumb.png" width="70px" height="70px" />
				</div>
				<div class="content">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="70px">
								<img src="https://cdn.channel.io/manager/1-a113e347e62e27ac48452dcb03488482-thumb.png" width="70px" height="70px" />
							</td>
							<td>
								<div class="chat">
									bb
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="footer">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="70px">
								<img src="https://cdn.channel.io/manager/1-a113e347e62e27ac48452dcb03488482-thumb.png" width="70px" height="70px" />
							</td>
							<td>
								<div class="contact-us">
									bb
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="copyright">
				this email...
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
