<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invite Title</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container-wrap" width="540">
			<div class="container">
				<div class="header">
					<table>
						<tr>
							<td class="td-wrapper" rowspan="2" width="60px">
								<img class="host-avatar" src="https://cdn.channel.io/manager/1-a113e347e62e27ac48452dcb03488482-thumb.png" width="60px" height="60px" />
							</td>
							<td class="host-info host-name">
								nametesttesttesttest
							</td>
							<td class="emblem">
								<img src="https://cdn.channel.io/channel/1-bfdf286ffa924e23a4370ac268f6d557-thumb.png" width="50px" height="50px" />
							</td>
						</tr>
						<tr>
							<td class="email-wrapper" colspan="2">
								<a href="#" class="host-info host-email">
									testtesttest@testtest.com
								</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="content">
					<div class="bubble bubble-text">
						'ZOYI' 채널에 초대합니다.<br/>
						아래 버튼 혹은 링크를 통해 채널에 참여해주세요.:)
					</div>
					<a href="#" class="bubble bubble-btn">
						ZOYI에 참여하기.
					</a>
					<div class="rawlink">
						<div class="rawlink-text">
							URL이 필요하신가요?
						</div>
						<a href="#" class="rawlink-address">
							https://desk.channel.io/invite/2ee41f15-6594-4505-94c4-bb3430f28994
						</a>
					</div>
				</div>
				<div class="footer">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td class="monologo" width="70px">
								<img src="./assets/images/ch-desk-logo-mono.png" width="70px" height="70px" />
							</td>
							<td>
								<div class="contact-us">
									<a href="#" class="groupurl">
										desk.channel.io/zoyi
									</a>
									<span class="detail detail-text">
										채널은 오프라인 고객과 매장, 직원들과 쉽게 소통할 수 있는 모바일/웹 채팅서비스입니다.
									</span>
									<span>
										<a href="http://desk.channel.io" class="detail detail-link">
											자세히 보기
										</a>
									</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="copyright">
				This email was sent via Channel.<br/>
				© 2016 ZOYI Corporation. All Rights Reserved.
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
