<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invite Title</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container-wrap" width="580">
			<div class="container">
        <div class="logo">
          <img src="./assets/images/ch-desk-logotype-beta.png" a href="#" onClick="_self=window.open('http://desk.channel.io','ChannelDesk'); return false;" width="200px"/>
        </div>
				<div class="content">
					<div class="guide">
						회원님이 보내신 비밀번호 재설정 메일입니다.<br/>
						새 비밀번호를 만드시려면 아래 버튼을 눌러주세요.
					</div>
					<a href="#" class="bubble bubble-btn">
						새 비밀번호 설정
					</a>
					<div class="rawlink">
						<div class="rawlink-text">
							Need the raw link?
						</div>
						<a href="#" class="rawlink-address">
							https://desk.channel.io/invite/2ee41f15-6594-4505-94c4-bb3430f28994
						</a>
					</div>
				</div>
			</div>
			<div class="copyright">
				This email was sent via Channel.<br/>
				© 2016 ZOYI Corporation. All Rights Reserved.
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
